/* FONTS  */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/* BASE STYLES  */

body {
    background-image: url("/background.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Indie Flower';
}

/* MEDIA QUERIES  */

/* Extra small devices (phones, 600px and down) */

@media screen and (max-width: 600px) {
    .contentWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 148px);
        flex-direction: column;
    }

    .imgthomas {
        width: 50%;
        height: auto;
        border-radius: 100%;
        border: 1px solid black;
    }

    .icons a img {
        width: 30px;
        height: 30px;
        margin: 30px 15px 0 15px;
    }

    h1 {
        margin-bottom: 30px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media screen and (min-width: 600px) {
    .contentWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 148px);
        flex-direction: column;
    }

    .imgthomas {
        width: 50%;
        height: auto;
        border-radius: 100%;
        border: 1px solid black;
    }

    .icons a img {
        width: 30px;
        height: 30px;
        margin: 30px 15px 0 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media screen and (min-width: 768px) {
    .contentWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 148px);
        flex-direction: column;
    }

    .imgthomas {
        width: 30%;
        height: auto;
        border-radius: 100%;
        border: 1px solid black;
    }

    .icons a img {
        width: 30px;
        height: 30px;
        margin: 30px 15px 0 15px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media screen and (min-width: 992px) {
    .contentWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 148px);
        flex-direction: column;
    }

    .imgthomas {
        width: 30%;
        height: auto;
        border-radius: 100%;
        border: 1px solid black;
    }

    .icons a img {
        width: 30px;
        height: 30px;
        margin: 30px 15px 0 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (min-width: 1200px) {
    .contentWrapper {
        display: flex;
        justify-content: calc(center - 148px);
        align-items: calc(center - 148px);
        max-height: 100vh;
        flex-direction: column;
    }

    .imgthomas {
        width: 20%;
        height: auto;
        border-radius: 100%;
        border: 1px solid black;
    }

    .imgthomas:hover {
        transform: scale(1.1);
        transition: 3s;
    }

    .icons a img {
        width: 30px;
        height: 30px;
        margin: 30px 15px 0 15px;
        transition: .2s;
    }

    .icons a img:hover {
        transform: scale(1.2);
    }

    .logo {
        display: flex;
    }

}

